.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 30px 0 30px 30px;
  margin: 0;

  gap: 10px;
}

.footer-links li {
  font-size: 14px;
}

.footer-links li a {
  color: #333;
  font-variation-settings: "wght" 400;
  transition:
    color 200ms linear,
    font-variation-settings 400ms ease;
}

.footer-links li a:hover {
  color: rgb(25, 135, 84);
  transition: font-variation-settings 0.4s ease-in-out;
}

.footer-links li a:hover,
.footer-links li a.be-bold {
  font-variation-settings: "wght" 900;
  cursor: pointer;
}
